<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/main.css') }}">
    <title>{{ _('Регистрация') }}</title>
</head>
<body>
    <div class="login-form">
        <form method="POST" action="{{ url_for('auth.signup') }}">
            <h1>{{ _('Регистрация') }}</h1>
            {{ form.hidden_tag() }}
            {{ form.username }}
            {{ form.password }}
            {{ form.re_password }}
            <input type="submit" value="{{ _('Создать аккаунт') }}">
            <!--<button type="submit"></button>-->
            <!--Ошибки-->
            <div class="error_codes_login">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <h1>{{ message }}</h1>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </form>
    </div>
</body>
</html>