<!--login-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/main.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> 
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
      <!--Head-->
      <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a href="#" style="text-decoration:none" class="navbar-brad"><img width="170px" src="static/img/logo.png" alt=""></a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li id="nav-item-up" class="nav-item active">
                        <a href="#" class="nav-link"><img src="static/img/home_black_24dp.svg" alt=""> Главная</a>
                    </li>
                    <li id="nav-item-down" class="nav-item">
                        <a href="#" class="nav-link"><img src="static/img/account_circle_black_24dp.svg" alt=""> Профиль </a> <!--имя профиля будет мб-->
                    </li>
                    <li id="nav-item-down" class="nav-item">
                        <a href="#" class="nav-link"><img src="static/img/settings_black_24dp.svg" alt=""> Настройки</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="form-center text-center">


    <!--
        Сообщение об ошибке
        Поставь его кравиво
    -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h1>{{ message }}</h1>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST", action="/signin">
        <h1 class="display-1" style="font-size: 40px;">Вход</h1><hr>
        {{ form.hidden_tag() }}
        <h1 class="display-4" style="font-size: 20px;">Логин:</h1>
        {{ form.username(class_="form-control form-my form-control-sm") }}<br>
        <h1 class="display-4" style="font-size: 20px;">Пароль:</h1>
        {{ form.password(class_="form-control form-my form-control-sm") }}<br>
        {{ form.remember(class_="form-control form-control-sm") }}<a>Запомнить меня</a><br><br>
        <button class="btn new-button btn-lg btn-primary btn-block" type="submit">Войти в аккаунт</button>
        <br>
        <h1 class="display-4" style="font-size: 20px;">Нет аккаунта? <a href="signup">Зарегистрируйтесь</a></h1>
    </form>
</div>
</body>