{{ moment.include_moment()}}
{{ moment.locale(get_locale()) }}

<!DOCTYPE html>
<html lang="en">
      <!--
        DESIGNED BY OVLADAET
        INST: ovladaettt
    -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget - {{ _('Главная') }}</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename = 'css/reset-styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- moment -->
</head>
<body>
  <!-- 19.09.2021 - Я еле нашел форму с вводом -->

    <!-- Экран загрузки -->
    <div class="preloader">
        <div class="preloader__row">
          <div class="preloader__item"></div>
          <div class="preloader__item"></div>
        </div>
      </div>
    <div class="personal-area">

        <!--Предупреждение о использлвании Cookie-->
        <div id="cookie_notification">
            <p>{{ _('Для улучшения работы сайта и его взаимодействия с пользователями мы используем файлы cookie. Продолжая работу с сайтом, Вы разрешаете использование cookie-файлов. Вы всегда можете отключить файлы cookie в настройках Вашего браузера.') }}</p>
            <button class="button cookie_accept">{{ _('Принять') }}</button>
    </div>

        <!--Левая колонка-->
        <div id="left-column" class="left-column">
            <h1>budget</h1>
            <ul>
                <li class="active"><a href="{{ url_for('dashboard.dashboard') }}"><img src="{{ url_for('static', filename= 'img/dashboard_white_24dp.svg') }}">&nbsp;{{ _('Главная') }}</a></li>
                <li><a href="{{ url_for('dashboard.profile') }}"><img src="{{ url_for('static', filename = 'img/account_circle_white_24dp.svg') }}">&nbsp;{{ _('Профиль') }}</a></li>
                <li><a href="{{ url_for('dashboard.settings') }}"><img src="{{ url_for('static', filename = 'img/settings_white_24dp.svg') }}">&nbsp;{{ _('Настройки') }}</a></li>
                <li><a href="{{ url_for('auth.signout') }}"><img src="{{ url_for('static', filename= 'img/logout_white_24dp.svg') }}">&nbsp;{{ _('Выйти') }}</a></li>
            </ul>
        </div>

        <!--Правая колонка-->
        <div class="right-column">

            <!--Верхняя панель-->
            <div class="top-nav">
                <h1>{{ _('Главная') }}</h1>
                <div class="mobile-menu">
                    <div class="open_img" id="open_img"><img onclick="open_mobile_menu()" src="{{ url_for('static', filename = 'img/menu_white_24dp.svg') }}" alt=""></div>
                    <div class="close_img" id="close_img"><img onclick="close_mobile_menu()" src="{{ url_for('static', filename = 'img/close_white_24dp.svg') }}" alt=""></div>
                </div>
                <div id="mobile-nav" class="mobile-navigation">
                    <ul>
                        <li class="active"><a href="{{ url_for('dashboard.dashboard') }}"><img src="{{ url_for('static', filename = 'img/dashboard_white_24dp.svg') }}">&nbsp;{{ _('Главная') }}</a></li>
                        <li><a href="{{ url_for('dashboard.profile') }}"><img src="{{ url_for('static', filename = 'img/account_circle_white_24dp.svg') }}">&nbsp;{{ _('Профиль') }}</a></li>
                        <li><a href="{{ url_for('dashboard.settings') }}"><img src="{{ url_for('static', filename = 'img/settings_white_24dp.svg') }}">&nbsp;{{ _('Настройки') }}</a></li>
                        <li><a href="{{ url_for('auth.signout') }}"><img src="{{ url_for('static', filename = 'img/logout_white_24dp.svg') }}">&nbsp;{{ _('Выйти') }}</a></li>
                    </ul>
                </div>
            </div>

            <!--Подсчет потраченных денег-->
            <div class="money-spent">
                <div class="money-spent-info">
                    <h1><b>{{ username }}</b>,{{ _('- вы потратили за') }} {{ moment(mon_exps.date_updated).format('MMMM') }} {{  monthly_expences }} UAH</h1>
                    {% set previous = monthly_expences - prev_month_exps %}
                    {% if monthly_expences > prev_month_exps %}
                    <h2><img src="{{ url_for('static', filename = 'img/arrow_upward_black_24dp.svg') }}" alt="">
                    {{ previous }} UAH {{ _('по сравнению с ') }} {{ moment(prev_month).format('MMMM') }}</h2> 
                       <!--Вот стрелочка вниз--> 
                    {% else %}
                    <h2><img src="{{ url_for('static', filename = 'img/arrow_downward_black_24dp.svg') }}" alt=""></h2>
                    {{ previous }} UAH {{ _('по сравнению с ') }} <h1>&nbsp;</h1> {{ moment(prev_month).format('MMMM') }}</h2>
                    {% endif %}
                  </div>
                    <!--Диаграмма-->
                    <div class="chart">
                        <canvas id="myChart" width="200" height="200"></canvas>
                    </div>
                
            </div>
            <!--Кнопка добавления покупок-->
            <div class="add-purchase">
                <input onclick="open_adding_menu()" onmouseenter="on_mouse_enter()" onmouseleave="on_mouse_exit()" id="add-purchase" type="submit" class="add-button" value="+">
            </div>

            <!--Таблица затрат-->
        <div class="money-table">
          {% for day, expence in expences.items|groupby("date_created.day")|reverse %}
            <table>
              {% for exp in expence %}
                <tr id="num_of_tables" class="table"><th  colspan="4">{{ moment(exp.date_created).format('MMMM, D dddd') }}</th></tr>
                {% break %}
              {% endfor %}    
                    <tr>
                        <td>{{ _('Категория') }}</td>
                        <td>{{ _('Продукт') }}</td>
                        <td>{{ _('Цена') }}</td>
                        <td>{{ _('Время') }}</td>
                    </tr>
                    {% for exp in expence %}
                    <tr>
                      
                        <td id="icon" class="icon" style="display:flex;"><div class="category"></div>{{ gettext(exp.category) }}</td>
                        <td>{{ exp.product }}</td>
                        <td>{{ exp.price }} UAH</td>
                        <td>{{ moment(exp.date_created).format('LT') }}</td>
                    </tr>
                    {% endfor %}
            </table>
          {% endfor %}
        </div>

        <!--Переключение страниц-->
        <div class="pagination">
          <ul>
            {% for page_num in expences.iter_pages() %}
              {% if page_num %}
                {% if expences.page == page_num %}
                  <li class="page-active"><a href="{{ url_for('dashboard.dashboard', page=page_num) }}">{{ page_num }}</a></li>
                {% else %}
                  <li><a href="{{ url_for('dashboard.dashboard', page=page_num) }}" style="color: black;">{{ page_num }}</a></li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>
    </div>  

        
        
    </div>
    
    <div id="layer">
        <div id="modal">
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.category_select }}<br>
              {{ form.product_name }}<br>
              {{ form.price_value }}<br>
              {{ form.submit }}
            </form>
        </div>
    </div>

    <!-- Chart -->
    <script>
      
    function load_chart(){
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: {{ labels | safe }},
          datasets: [{
            label: '# of Votes',
            data: {{ values | safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.5)',
                'rgba(54, 162, 235, 0.5)',
                'rgba(255, 206, 86, 0.5)',
                'rgba(75, 192, 192, 0.5)',
                'rgba(153, 102, 255, 0.5)',
                'rgba(255, 159, 64, 0.5)'
            ]
          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins:{
            legend: {
              display: false
            }, 
          }   
        }
      });
    }
    load_chart();
    window.addEventListener('resize', change_screen_size);
    function change_screen_size(){
      load_chart();
    }

    </script>

    <script src="{{ url_for('static', filename = 'js/profileScript.js') }}"></script>
    <script>
        // Эта шляпа плавно закрывает экран загрузки когда все прогрузилось
        window.onload = function () {
          document.body.classList.add('loaded_hiding');
          window.setTimeout(function () {
            document.body.classList.add('loaded');
            document.body.classList.remove('loaded_hiding');
          }, 500);
        }
      </script>
</body>
</html>