{{ moment.include_moment()}}
{{ moment.locale("ru") }}

<!DOCTYPE html>
<lang lang="en">
<head>
    <!--
        ################################
        # DESIGN BY ovladaettt         #
        # inst: ovladaettt             # 
        ################################
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/main.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> 
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <!-- Chart.js (сука блять йобаный цейво.... график блять )-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"
     integrity="sha512-asxKqQghC1oBShyhiBwA+YgotaSYKxGP1rcSYTDrB0U6DxwlJjU59B67U8+5/++uFjcuVM8Hh5cokLjZlhm3Vg==" 
     crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="static/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <script src="{{url_for('static', filename='../static/js/icons.js')}}"></script>
    <title>Budget</title>
</head>

<!-- 25.07.2021 - Макс, ты можешь в комментах меньше матов писать?-->
<!-- 25.07.2021 - Нет блять -->
<!-- 13.08.2021 - Eбучая Jinja!!!!! -->
<!-- 14.08.2021 - А прикинь что это кто-то читает. 
  Если что инста чуть выше)-->

<body>
  <div class="main">
    <!--Header-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a href="url_for(dashboard.dashboard)" style="text-decoration:none" class="navbar-brad"><img width="170px" src="{{url_for('static',filename = 'img/logo.png')}}" alt=""></a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li id="nav-item-up" class="nav-item active">
                        <a href="#" class="nav-link"><img src="static/img/home_black_24dp.svg" alt="">{{ _('Главная') }}</a>
                    </li>
                    <li id="nav-item-down" class="nav-item">
                        <a href="#" class="nav-link"><img src="static/img/account_circle_black_24dp.svg" alt="">{{ _('Профиль') }}</a> <!--имя профиля будет мб-->
                    </li>
                    <li id="nav-item-down" class="nav-item">
                        <a href="{{ url_for('auth.signout') }}" class="nav-link"><span class="material-icons"> login
                      
                          </span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Total-->
    <div class="container-fluid chart_div">
        <div class="text-center">
          <div class="row xz">
           <div class="col-xs-6 col-md-6 xz2">
            <h1 class="display-4" style="font-size:50px">Общие затраты за {{ moment(mon_exps.date_updated).format('MMMM') }} - {{  monthly_expences }} UAH</h1>
            {% set previous = monthly_expences - prev_month_exps %}
            {% if monthly_expences > prev_month_exps %}
              <h1 class="display-4 smallest" style="font-size:25px">+ {{ previous }} UAH по сравнению с {{ moment(prev_month).format('MMMM') }}</h1>
            {% else %}
              <h1 class="display-4" style="font-size:25px">- {{ previous }} UAH по сравнению с {{ moment(prev_month).format('MMMM') }}</h1>
            {% endif %}
          </div>
          <!-- Grapth canvas -->
            <div style="padding-top: 10px;" class="chart_class">
              <canvas id="chart"></canvas>
            </div>
        </div>
      </div>
    </div>
     
    <!-- Form for adding new expence -->
    
    <div  class="container-fluid form-container" id="form-add">
      <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.category_select(class_="form-control form-my ") }}<br>
        {{ form.product_name(class_="form-control form-control-sm form-my", placeholder="Продукт") }}<br>
        {{ form.price_value(class_="form-control form-control-sm form-my",  placeholder="Цена") }}<br>
        <div style="display: flex;">
        {{ form.submit(class_="btn new-button btn-primary") }}
        <a onclick="close_form()" style="cursor: pointer;"><span class="material-icons">
          close
          </span></a>
      </div>
      </form>
     </div>
    
    <!--ADD BTN-->
    <div style="padding-top: 50px;" class="container-fluid text-right">
        <button id="open_button" type="button" onTouchStart="open_form()" onclick="open_form()" class="btn btn-outline-dark"><img src="static/img/add_black_24dp.svg" alt=""> новый платеж</button><br><br>
    </div>
    
    <!--table-->
    <div  class="container-fluid text-left">
      {% for day, expence in expences.items|groupby("date_created.day")|reverse %}
        {% for exp in expence %}
          <h1 class="display-4" style="font-size: 25px;">{{ moment(exp.date_created).format('MMMM, D dddd') }}</h1><br>
          {% break %}
        {% endfor %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Категория</th>
              <th scope="col">Продукт</th>
              <th scope="col">Цена</th>
              <th scope="col">Время</th>
            </tr>
          </thead>
          <tbody>  
            {% for exp in expence %}
              <tr>
                <td><span id="icon_name" class="material-icons"></span> {{ exp.category }}</td>
                <td>{{ exp.product }}</td>
                <td>{{ exp.price }} UAH</td>
                <td><span id="time">{{ moment(exp.date_created).format('hh:mm') }}</span></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
      <nav style="display: flex; justify-content:center">
        <ul class="pagination">
      {% for page_num in expences.iter_pages() %}
        {% if page_num %}
          {% if expences.page == page_num %}
            <!-- Сюда встать стиль для текущей страници -->
            <li class="page-item active"><a class="page-link"  href="{{ url_for('dashboard.dashboard', page=page_num) }}">{{ page_num }}</a></li>
          {% else %}
            <!-- А сюда для остальных -->
            <li class="page-item"> <a  style="color: black;" class="page-link"  href="{{ url_for('dashboard.dashboard', page=page_num) }}">{{ page_num }}</a> </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
    </div>

    <!-- JS -->
    <!-- Скрипт графика -->
   <canvas id="myChart" width="200px" height="200px"></canvas>
<script>
var ctx = document.getElementById('chart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: {{ labels | safe }},
      
        datasets: [{
            label: '',
            data: {{ values | safe }},
            backgroundColor: [
            'rgb(169, 222, 249)',
            'rgb(228, 193, 249)',
            'rgb(208, 244, 222)',
            'rgb(175, 187, 242)',
            'rgb(252, 246, 189)',
            'rgb(233, 124, 97)', //TODO: этот и дальше цвета заменить
            'rgb(235, 136, 111)',
            'rgb(237, 147, 124)',
            'rgb(239, 157, 136)',
            ],

        }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins:{
        legend: {
          display: false
      },
      
      
      },     
    }
});
</script>
    <script src="{{url_for('static', filename='../static/js/main.js')}}"></script>
    
  </div>
  </body>
  
</html>