<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> 
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <link rel="stylesheet" href="static/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <!-- Chart.js (сука блять йобаный цейво.... график блять )-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"
    integrity="sha512-asxKqQghC1oBShyhiBwA+YgotaSYKxGP1rcSYTDrB0U6DxwlJjU59B67U8+5/++uFjcuVM8Hh5cokLjZlhm3Vg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="{{url_for('static', filename='../static/js/icons.js')}}"></script>
    <title>Profile</title>
  </head>
  <body>
        <!--Header-->
        <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
          <div class="container-fluid">
              <a href="{{ url_for('dashboard.dashboard') }}" style="text-decoration:none" class="navbar-brad"><img width="170px" src="{{url_for('static',filename = 'img/logo.png')}}" alt=""></a>
              <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarResponsive">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                      <li id="nav-item-up" class="nav-item active">
                          <a href="#" class="nav-link"><img src="{{url_for('static', filename='../static/img/home_black_24dp.svg')}}" alt=""> {{ _('Главная') }}</a>
                      </li>
                      <li id="nav-item-down" class="nav-item">
                          <a href="#" class="nav-link"><img src="{{url_for('static', filename='../static/img/account_circle_black_24dp.svg')}}" alt="">{{ _('Профиль') }}</a> <!--имя профиля будет мб-->
                      </li>
                      <li id="nav-item-down" class="nav-item">
                          <a href="{{ url_for('auth.signout') }}" class="nav-link"><span class="material-icons"> login
                        
                            </span></a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
<div style='width: 400px; height: 400px;'>
      <canvas id="myChart" width="200px" height="200px"></canvas>
<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['За предыдущий месяц','За этот месяц',],
          datasets: [{
              data: {{ data }},
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
              ],
              borderWidth: 1
          }]
      },
      options: {
        responsive: true,
      maintainAspectRatio: false,
          scales: {
              y: {
                  beginAtZero: true
              }
          },
          plugins:{
            legend: {
              display: false
            },
          }, 
      }
  });
  </script>
</div>
  </body>
</html>