body {
  font-family: sans-serif;
  background: #F6F7FC;
  /*background: url("img/main-background.png");*/
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #e0e0e0;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #F1547F;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%,
100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

.cookie_accept {
  padding: 10px 30px;
  border: 2px solid #F1547F;
  background: none;
  transition: 0.3s;
  margin-left: 10px;
}

.cookie_accept:hover {
  background: #F1547F;
  color: white;
  transition: 0.3s;
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

#cookie_notification {
  display: none;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  bottom: 15px;
  left: 50%;
  width: 900px;
  max-width: 90%;
  transform: translateX(-50%);
  padding: 25px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}

#cookie_notification p {
  margin: 0;
  font-size: 0.7rem;
  text-align: left;
  color: black;
}

@media (min-width: 576px) {
  #cookie_notification.show {
    display: flex;
  }
}

@media (max-width: 575px) {
  #cookie_notification.show {
    display: block;
    text-align: left;
  }
  .cookie_accept {
    margin: 10px 0 0 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

.personal-area {
  display: flex;
}

.left-column {
  /*background: #2E3458; */
  background: url("../img/blue-background.png");
  padding-left: 30px;
  height: 100vh;
}

.left-column > h1 {
  color: white;
  text-transform: uppercase;
  padding-bottom: 60px;
  padding-right: 40px;
  padding-top: 30px;
}

ul > li {
  color: white;
  text-decoration: none;
  list-style-type: none;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
}

li > a {
  color: white;
  text-decoration: none;
  display: flex;
}

.active {
  background: #F1547F;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 20px 0px 0px 20px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.right-column {
  width: 100%;
}

.top-nav {
  background: white;
  /* background: url("img/top-nav-background.png");*/
  width: 100%;
  padding: 10px;
  padding-right: 40px;
}

.top-nav > h1 {
  font-weight: 1000;
  font-size: 20px;
  color: #F1547F;
  text-align: right;
}

.money-spent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-right: 7%;
}

.money-spent-info {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.money-spent-info > h2 {
  display: flex;
  justify-content: center;
}

.money-spent-info > h1, .money-spent-info > h2 {
  font-weight: 500;
}

.add-button {
  padding: 10px;
  border: none;
  border-radius: 0px 20px 20px 0px;
  border-width: 2px;
  cursor: pointer;
  color: white;
  /* background: #2E3458;*/
  background: url("../img/blue-background.png");
  transition: 0.1s;
}

.add-button:hover {
  background-color: #F1547F;
  color: white;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
  transition: 0.1s;
}

.money-table {
  display: block;
  margin: 0 auto;
  text-align: center;
}

table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 5px;
  border-radius: 20px;
  width: 100%;
  text-align: left;
}

th {
  font-size: 22px;
  font-weight: 300;
  padding: 12px 10px;
  border-bottom: 2px solid #F1547F;
  color: #F1547F;
}

tbody tr:nth-child(2) {
  border-bottom: 2px solid #F1547F;
}

td {
  padding: 10px;
  color: #8D8173;
}

.pagination > ul {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.pagination > ul > li {
  color: black;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  background: white;
  border-color: #F1547F;
  border-width: 5px;
}

.page-active {
  color: white !important;
  background: #F1547F !important;
}

#layer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 10;
}

#layer::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#modal {
  display: inline-block;
  width: 50%;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}

select {
  display: block;
  margin: 0 auto;
  padding: 10px 50px;
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 2px solid #F1547F;
  width: 100%;
  transition: 0.3s;
}

select:focus {
  padding: 20px 50px;
  border-bottom: 2px solid #2E3458;
  transition: 0.3s;
}

form > input[type="text"] {
  display: block;
  margin: 0 auto;
  border: none;
  border-bottom: 2px solid #F1547F;
  text-align: center;
  padding: 10px;
  color: black;
  outline: none;
  width: 100%;
  transition: 0.3s;
}

form > input[type="text"]:focus {
  padding: 20px;
  border-bottom: 2px solid #2E3458;
  transition: 0.3s;
}

form > input[type="submit"] {
  margin-top: 30px;
  padding: 10px 70px;
  border: 2px solid #F1547F;
  background: none;
  width: 100%;
  transition: 0.3s;
}

form > input[type="submit"]:hover {
  background: #F1547F;
  color: white;
  transition: 0.3s;
}

.user-info {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  width: 80%;
}

.user-info > h1 {
  font-weight: 500;
  font-size: 50px;
}

.money-per-month {
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

hr {
  border: none;
  color: #F1547F;
  background: #F1547F;
  height: 2px;
}

.money-per-month > h1 {
  color: black;
  font-weight: 500;
}

.money-per-month > h2 {
  color: black;
  font-weight: 500;
}

.alert {
  color: #2E3458;
}

.right-centered {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}

.lang-select {
  display: flex;
  width: 40%;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 50px;
  margin: 0 auto;
  padding-top: 50px;
}

.lang-select a {
  text-decoration: none;
  color: #F1547F;
}

.lang-select > h1 {
  font-weight: 500;
  margin-right: 50px;
}

.lang-select > select {
  width: 100%;
}

.settings-title {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}

.e404 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.e404_child {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.e404_child > h2 > a {
  text-decoration: none;
  color: #F1547F;
}

.e404_child > h2 {
  font-weight: 500;
}

.login-form {
  display: block;
  width: 50%;
}

@media (min-width: 1221px) {
  .mobile-navigation {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

@media (max-width: 1220px) {
  .money-spent-info {
    display: block;
  }
  .money-spent {
    display: block;
    margin-left: 10vh;
  }
  .chart {
    margin-top: 50px;
  }
  #myChart {
    width: 300px;
    height: 300px;
  }
  .left-column {
    display: none;
  }
  .add-purchase {
    text-align: right;
    margin-top: 10px;
  }
  .add-button {
    padding: 10px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    border-width: 2px;
    cursor: pointer;
    color: white;
    /* background: #2E3458;*/
    background: url("../img/blue-background.png");
    transition: 0.1s;
  }
  .top-nav > h1 {
    display: none;
  }
  .top-nav {
    background: url("../img/blue-background.png");
  }
  .mobile-menu {
    display: block;
  }
  .mobile-menu > img {
    width: 30px;
    text-align: right;
  }
  .active {
    border-radius: 0px 5px 5px 0px;
    width: auto !important;
  }
  .user-info > h1 {
    font-size: 30px;
  }
  .money-per-month {
    width: 100%;
  }
  #modal {
    width: 80%;
  }
  .lang-select {
    width: 80%;
    margin-left: 0px;
    margin: 0 auto;
  }
  .lang-select a {
    text-decoration: none;
    color: #F1547F;
  }
  .lang-select > h1 {
    margin-right: 0px;
    margin-top: 55px;
    margin-right: 10px;
    font-size: 20px;
  }
  .lang-select > select {
    margin-top: 50px;
  }
  .e404 {
    width: 80%;
    margin: 0 auto;
  }
  .e404_child > img {
    width: 200px;
  }
  .login-form form input[type="submit"] {
    color: black !important;
  }
}

@media (max-width: 800px) {
  .money-spent {
    margin-left: 5vh;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px !important;
  }
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login-form > form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.login-form > form > input[type="text"],
.login-form > form > input[type="password"] {
  border: none;
  border-radius: 50px;
  border: 2px solid #2E3458;
  padding: 10px 0px;
  width: 300px;
  margin-top: 20px;
  text-align: center;
  transition: 0.3s;
  outline: none;
  background: none;
}

.login-form > form > input[type="text"]:focus,
.login-form > form > input[type="password"]:focus {
  padding: 20px 0px;
  border: 2px solid #F1547F;
  transition: 0.3s;
}

.login-form > form > label {
  margin-top: 20px;
}

.login-form > form > label > input[type="checkbox"] {
  margin-left: 10px;
}

.login-form form {
  background: url("img/main-background.png");
}

.login-form form input[type="submit"] {
  width: 300px;
  border-radius: 10px;
  border: 2px solid #2E3458;
  transition: 0.3s;
}

.login-form form input[type="submit"]:hover {
  border: 2px solid #F1547F;
  padding: 20px;
  transition: 0.3s;
}

.login-form form h1 {
  font-weight: 500;
}

.login-form form .error_codes_login h1 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  color: #F1547F;
}

.login-form form .error_codes_login h2 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  color: #F1547F;
}

.already-registered h1 {
  font-weight: 500;
  font-size: 15px;
  margin-top: 20px;
}

.already-registered a {
  text-decoration: none;
  color: #F1547F;
}

.category {
  margin-right: 10px;
}
