body{

}
.navbar-nav li{
    padding-right: 20px;
}

.nav-link{font-size: 1.1em !important;}


.form-container{
    display: flex;
    justify-content: center;
}

input{
  
    
  }
  .form-my:focus{font-size:16px;}

  .form-my{
      border-radius: 0px;
    border:none;
    border-bottom:  1px solid #000;
    background: none;
    color: #000;
    padding: 10px;
    outline:none !important;
    text-decoration: none;
    appearance: none;
  }

.form-center{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    
}


.chart_class{
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
}



#form-add{
    margin-top: 30px;
}

.new-button{
    font-size: 12px;
    background: none;
    border: 1px solid #000;
    color: #000;
}

.new-button:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
}

.error404{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.e404_child{
    display: block;
    margin: 0 auto;
    text-align: center;
}



.form-center fform{
    margin-top: 10px;
}

.chart_div{
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

@media(min-width: 770px){
.xz{
    margin-left: 30vh;
    margin-top: 10px;   
}

.form-container input{
    width: 500px !important;
}

.xz2{
 margin-top: 10vh;
}

.cost-table{
    width: 95%;
    text-align: center;
}

.table_head{
    padding-right: 30px !important;
}

}




@media(max-width:500px){
    .chart_class{
        margin-left: 15%;
    }
   
    
    .display-4{
        font-size: 30px !important;
        margin-top: 20px;
    }

    .smallest{
        font-size: 20px !important;
       
    }

    .text-right{
        text-align: center !important;
    }
 
}



